@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

:root{
  --ligth-grey: #F4F4F4;
  --dark: #232830;
  --green: #92E3A9;
  --ligth-green: #D4F7E6;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(/src/images/cursor.png), pointer;
  background-color: azure;
  background-image: url(/src/images/fondo_notebook.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}