:root{
  --text-input-field: #F7F7F7;
  --ligth-green: #ACD9B2;
  --ligth-green-two: #B6ECC5;
  --green: #92E3A9;
  --yellow: #fafa9c;
  --alert: #FF7F76;
  --error: #FF3300;
}


.container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;

  width: 1400px;
  border-radius: 15px;
  margin-bottom: 25px;
  gap: 45px;
  
}

.container h1{
  margin: 0px;
  font-size: 90px;
}

.postitContainer{
  display: flex;
  flex-direction: column;
}

.tapeDecor{
  align-self: center;
  position: relative;
  top: 25px;
  background-color: #e0e0d9b7;
  width: 80px;
  height: 35px;
}

.postitOne{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  width: 180px;
  height: 180px;
  padding: 15px;
  border-radius: 2px;

  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.container p{
  font-size: 18px;
}

.container span{
  font-size: 18px;
  font-weight: bold;
}

.postitTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ligth-green-two);
  width: 180px;
  height: 180px;
  padding: 15px;
  border-radius: 2px;

  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.postitThree{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alert);
  width: 180px;
  height: 180px;
  padding: 15px;
  border-radius: 2px;

  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}