.containerDetails{
  display: grid; 
  justify-items: center;
  grid-template-rows: auto 1fr auto;
}

.titleFlag{
  background-color: rgb(239, 239, 239);
  width: 500px;
  margin: 50px;
  padding: 20px;

  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.titleFlag img{
  width: 100%;

  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.extraInfoBox{
  background-color: rosybrown;
  width: 800px;
}

.activitiesCointainer{
  background-color: violet;
  display:grid;
  grid-template-columns: repeat(auto-fill, 240px);
  place-content: center;
  gap: 80px;
  margin: 50px 60px;
}

.messageActivities{
  place-self: center;
  background-color: aqua;
}

.activitiesBox{
  border:solid 4px rgb(137, 210, 110) ;
  border-radius: 15px;
  width: 300px;

}