:root{
  --black:#000000;
  --white: #FFFFFF;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --dark: #232830;
  --hospital-green: #ACD9B2;
  --sm: 16px;
  --md:18px;
  --lg: 20px;
}

form label{
  font-size: var(--md);
  color: var(--black);
}

form select {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 40px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}