:root{
  --text-input-field: #F7F7F7;
  --ligth-green: #ACD9B2;
  --ligth-green-two: #B6ECC5;
  --green: #92E3A9;
  --yellow: #fafa9c;
  --alert: #FF7F76;
  --error: #FF3300;
}


.containerLanding{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.containerLanding img{
  width: 600px;
}

.infoLanding{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
  margin-left: 60px;
}

.infoLanding h1{
  font-size: 50px;
  margin: 0px;
}

.infoLanding p{
  font-size: 20px;
}


.containerLanding button{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  background-color: var(--yellow);
  border: none;
  border-radius: 15px;
  font-size: 25px;
  width: 200px;
  height: 60px;
}

.containerLanding button:hover{
  width: 205px;
  height: 65px;
  background-color: var(--green);
  cursor: pointer;
}